nav > ul > li {
    display: table-cell;
    position: relative;
}

nav > ul {background: #ccc}

nav ul ul li {
    display: block
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul ul {background: #eee; padding: 0px;}
nav ul a {display: block; padding: 20px;}



nav > ul > li > ul {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 3.3em;
    left: 0;
    opacity: 0;
    
}

nav > ul > li:hover ul {height: 500px;
transition: all 300ms Linear 150ms;
    opacity: 1;
}
